In [2]:
import pandas as pd
import plotnine as p9
from palmerpenguins import load_penguins
from plotnine import *

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-04-12/indoor_pollution.csv")
df

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,19.623001
1,Afghanistan,AFG,1991,19.335193
2,Afghanistan,AFG,1992,19.508785
3,Afghanistan,AFG,1993,19.677607
4,Afghanistan,AFG,1994,19.432528
...,...,...,...,...
8005,Zimbabwe,ZWE,2015,8.603630
8006,Zimbabwe,ZWE,2016,8.656817
8007,Zimbabwe,ZWE,2017,8.690100
8008,Zimbabwe,ZWE,2018,8.736245
8009,Zimbabwe,ZWE,2019,8.658818

In [4]:
df = df.rename(columns={"Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Percent)": "new_column_name"})

In [5]:
df

           Entity Code  Year  new_column_name
0     Afghanistan  AFG  1990       370.050474
1     Afghanistan  AFG  1991       358.978418
2     Afghanistan  AFG  1992       352.766453
3     Afghanistan  AFG  1993       357.055923
4     Afghanistan  AFG  1994       362.970439
...           ...  ...   ...              ...
8005     Zimbabwe  ZWE  2015       143.477957
8006     Zimbabwe  ZWE  2016       140.643245
8007     Zimbabwe  ZWE  2017       137.448374
8008     Zimbabwe  ZWE  2018       133.923031
8009     Zimbabwe  ZWE  2019       130.508301

[8010 rows x 4 columns]